body {
    background-color: rgb(185, 121, 245);
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

li {
    width: 200px;
    /* gap: 20px; */
    border: 1px solid rgb(199, 199, 199);
    padding: 10px;
    margin: 10px;
    background-color: white;
    text-align: center;
}
button {
    margin-top: 20px;
}